In [1]:
import pandas as pd

In [101]:
filename = 'whichfaceisreal_test.csv'
df = pd.read_csv(filename,usecols=['file','label'])

In [102]:
df

                                       file  label
0                         0_real/00384.jpeg    0.0
1                         0_real/00399.jpeg    0.0
2                         0_real/00326.jpeg    0.0
3                         0_real/00867.jpeg    0.0
4                         0_real/00192.jpeg    0.0
...                                     ...    ...
3995  1_fake/._image-2019-02-17_001716.jpeg    1.0
3996  1_fake/._image-2019-02-17_030106.jpeg    1.0
3997  1_fake/._image-2019-02-17_023949.jpeg    1.0
3998  1_fake/._image-2019-02-17_002440.jpeg    1.0
3999  1_fake/._image-2019-02-17_023835.jpeg    1.0

[4000 rows x 2 columns]

In [104]:
droplist = []
for i,row in df.iterrows():
    if row['file'].split('/')[1][0]=='.':
        droplist.append(i)
df = df.drop(droplist).reset_index(drop=True)

In [105]:
df

                                     file  label
0                       0_real/00384.jpeg    0.0
1                       0_real/00399.jpeg    0.0
2                       0_real/00326.jpeg    0.0
3                       0_real/00867.jpeg    0.0
4                       0_real/00192.jpeg    0.0
...                                   ...    ...
1995  1_fake/image-2019-02-17_001716.jpeg    1.0
1996  1_fake/image-2019-02-17_030106.jpeg    1.0
1997  1_fake/image-2019-02-17_023949.jpeg    1.0
1998  1_fake/image-2019-02-17_002440.jpeg    1.0
1999  1_fake/image-2019-02-17_023835.jpeg    1.0

[2000 rows x 2 columns]

In [106]:
df.to_csv(filename,index=0)